<a href="https://colab.research.google.com/github/914book/FinalProjectGroupD/blob/Circle_DB/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sqlalchemy import create_engine

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)

In [3]:
import psycopg2
connection = psycopg2.connect(
    host = 'housingdatabase.chkn2wwlsbys.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = 'ProjectGroup4',
    database='NYChouses'
    )
cursor=connection.cursor()

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
import pandas as pd

sql = """
SELECT *
FROM fulloutpuhousing
"""
fulloutpuhousing = pd.read_sql(sql, con=connection)

In [5]:
pd.set_option('display.max_colwidth',1000)

In [6]:
fulloutpuhousing.head()

                                    address  zipcode  ... employed unemployed
0  4205 48th Ave APT 3G, Flushing, NY 11377    11377  ...  1099996      39401
1         14404 76th Rd, Flushing, NY 11367    11367  ...  1099996      39401
2            35 88th St, Brooklyn, NY 11209    11209  ...  1149461      48699
3         11128 130th St, Jamaica, NY 11420    11420  ...  1099996      39401
4        20102 32nd Ave, Flushing, NY 11361    11361  ...  1099996      39401

[5 rows x 15 columns]