<a href="https://colab.research.google.com/github/914book/FinalProjectGroupD/blob/Circle_DB/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from sqlalchemy import create_engine
from getpass import getpass
secret = getpass('Enter the secret value: ')

Enter the secret value: ··········

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)

In [16]:
import psycopg2
connection = psycopg2.connect(
    host = 'housingdatabase.chkn2wwlsbys.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = secret,
    database='NYChouses'
    )
cursor=connection.cursor()

In [17]:
import pandas as pd

sql = """
SELECT *
FROM fulloutpuhousing
"""
fulloutpuhousing = pd.read_sql(sql, con=connection)

In [18]:
pd.set_option('display.max_colwidth',1000)

In [19]:
#table for EDA
fulloutpuhousing.head()

                                    address  zipcode  ... employed unemployed
0  4205 48th Ave APT 3G, Flushing, NY 11377    11377  ...  1099996      39401
1         14404 76th Rd, Flushing, NY 11367    11367  ...  1099996      39401
2            35 88th St, Brooklyn, NY 11209    11209  ...  1149461      48699
3         11128 130th St, Jamaica, NY 11420    11420  ...  1099996      39401
4        20102 32nd Ave, Flushing, NY 11361    11361  ...  1099996      39401

[5 rows x 15 columns]

In [20]:
#table for M/L model based of test data share with Toral
house2data = fulloutpuhousing[['house_price', 'address', 'zipcode', 'date', 'beds', 'bath','sq_ft', 'boro', 'employed', 'unemployed', 'income_over_100k', 'income_under_100k']]
house2data.columns = ['price','address','zipcode','Date','beds','bath','sq_ft','boro','Employed','Unemployed','income above 100k','income below 100k']
house2data

         price  ... income below 100k
0       244000  ...           1015040
1       680000  ...           1015040
2       900000  ...           1067440
3       625000  ...           1015040
4      1720000  ...           1015040
...        ...  ...               ...
24209   167310  ...           1015040
24210   545000  ...           1015040
24211   620000  ...           1015040
24212   790000  ...           1015040
24213   700000  ...           1015040

[24214 rows x 12 columns]